.page {

   &__popular {
   }
}
.popular {

   &__pagination {
      margin: 20px 0;
      display: flex;
      justify-content: center;

      

  

      .pagination{
         background-color: transparent;

         .page-item{
            a {
               color: black !important;
            }
         }

         .active{
               span {
               background-color: #FFC107 !important;
               border-color: white !important;
               }
         }
      }

   }
   &__movies {
      
   }
}
