.movie {

   &__title{
      color: #ffffff;
      font-size: 32px;
      font-weight: 600;
      margin: 20px 0;
   }

   &__container{
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
      justify-content: center;
      justify-items: center;
      align-items: center;
   }
}